[submodule "third_party/fltk"]
	path = third_party/fltk
	url = https://github.com/fltk/fltk.git
[submodule "third_party/udunits2"]
	path = third_party/udunits2
	url = https://github.com/Unidata/UDUNITS-2.git
